.charts__container{
  display:flex;
}
// .table__container{}
// .chart__filters{

// }
.chart__filter-title{
  margin-left: 10px;
  
}
.chart__filter{
  font-size: $roboto;
  background-color: $white;
  border: 1px solid $lightgrey;
  margin: 20px;
  width: 400px;
}
.chart__filter-options{
  
  height: 100px;
}
.chart__filter-header{
  
  background-color: $lightgrey;
  padding-left: 10px;
  display: flex;
  align-items: center;
}