html,body {
  height: 100% !important;
}

.page__wrapper {
  height: 100vh;
  display:flex;
  // flex-direction: column;
  // position: absolute;
  
  // @media all and(min-width:768px){
  //   // top: 83px;
  // }
  // @media all and(min-width:1020px){
  //   top: 83px;
  // }
}
.app__container {
  display: flex;
  flex-direction: column;
  left: 190px;
}
