// .app__main {
//   position: static;
// }
.panel__session {
  display: flex;
  align-items: center;
  margin-left: 20px;
  }

.icon {
  font-size: 14px;
    @media all and(min-width:768px){
      font-size: 16px;
    }
    @media all and(min-width:1020px){
      font-size: 18px;
    }
  }
.panel__session-title {
  font-size:13px;
  padding-left: 10px;
  width: 300px;
    @media all and(min-width:768px){
      width: 500px;
      font-size: 14px;
    }
    @media all and(min-width:1020px){
      font-size: 16px;
    }
  }