.app__aside {
  width: 250px;
  border-right: 1px solid black;
 }
 
 .aside__list {
   list-style: none;
 // background-color: lightgreen;
 }
 
 .aside__item-link {
   text-decoration: none;
   color: $purple;
 }
 
 //.aside__item {}
 