.table__container {
  display: flex;
}
.table {
  table-layout: fixed;
  width: 1200px;
  background-color: $violet263;
  border-top: 1px solid black;
  margin:0;
  padding: 0;
}
#table tr:nth-child(odd) {
  
	color:purple
}

#table tr:nth-child(even) {
	background-color: $violet263;
	color:black;
}
.table__tr{
  background-color: $violet2635;
  width: 325px;
}
.table__thead {
  margin:0;
  padding: 0;
  color: $purple;
}

.table__th {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.table__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.table__title {
  margin-left: 10px;
  font-weight: bold;
}

.table__icons {
  background-color: $lightgrey;
  color: $purple;
  width: 20px;
  display: flex;
  flex-direction: column;
  i:hover {
    font-weight: bold;
    height: 20px;
    width: 20px;
    }
    
}

// .table__tbody {}

.table__td { 
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px; 
}
