.table__container {
  display: flex;
  flex-direction: column-reverse;
}
.table {
  background-color:$white;
  margin:0;
  padding: 0;
    @media screen and (max-width: 320px) {
        display: block;
        overflow-x: auto; 
    }
}
#table tr:nth-child(odd) {
	color:#7F7679;
}

#table tr:nth-child(even) {
	background-color:$white;
	color: $eggplant2;
}

.table__tr{
  background-color: $violet263;
}
.table__thead {
  margin:0;
  padding: 0;
  color: $purple;
}

// .table__th {

// }
.table__th-col1{
  width: 300px;
}
.table__th-col2{
  width: 300px;
}
.table__th-col3{
  width: 200px;
}
.table__th-col4{
  width: 200px;
}
.table__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.table__title {
  font-size: 12px;
  margin-left: 10px;
  color: $purple;
  font-weight: bold;
    @media all and(min-width:768px){
      font-size: 14px;
    }
    @media all and(min-width:1020px){
      font-size: 16px;
    }
}

.table__icons {
  color: $purple;
  width: 20px;
  display: flex;
  flex-direction: column;
  i:hover {
    background-color: $violet;
    font-weight: bold;
    height: 20px;
    width: 20px;
    }
    
}

// .table__tbody {}

.table__td { 
  font-size: 12px;
  margin:0;
  padding: 0;
  padding: 10px; 
    @media all and(min-width:768px){
      font-size: 14px;
    }
    @media all and(min-width:1020px){
      font-size: 16px;
    }
}
