.search__container {
  display: flex;
  align-items: center;
}

//.search__input-container {}

.search__input {
  width: 300px;
  border-bottom: 2px solid black;
}

.search__info-total {
  padding-left: 10px;
}