.search__container {
  display: flex;
  align-items: center;
  margin-left:10px;
  vertical-align: middle;
  white-space: nowrap;
}

.search__input-container {
  margin: 0;
}
.icon__search{
  color: #4f5b66;
}

.search__input {
  padding: 10px 10px;
  width: 100px;
  height: 10px;
  border: none;
  font-size: 12px;
  // float: left;
  color: #63717f;
  outline: none;
  border-bottom: 1px solid $lightgrey;
  box-sizing: border-box;
  &:focus{
    border-bottom: 2px solid $purple;
    border-width: 2px;
  }
  @media all and(min-width:768px){
    padding: 20px 10px;
    width: 300px;
    height: 20px;
    font-size: 16px;
  }
  @media all and(min-width:1020px){

    width: 300px;
    height: 50px;
  }
}
.search__info-total {
  font-size: 12px;
  padding-left: 20px;
    @media all and(min-width:768px){
      font-size: 14px;
    }
    @media all and(min-width:1020px){
      font-size: 16px;
    }
}
