$purple: #854F9B;
$eggplant: #5A4463;
$eggplant2:#876E7B;
$amethyst: #9966CC;
$violet: #FBF6FD;
$violet263: #F4ECF7;
$plum: 	#DDA0DD;
$pink: 	#FFC0CB;
$coral: #F27663;
$white: #FFFFFF;
$black: #000000;
$teal: #009688;
$lightgrey: #E9E9E9;



$roboto: 'Roboto', sans-serif;
$roboto-slab: 'Roboto Slab', serif;
$roboto-mono:'Roboto Mono', monospace;
$roboto-condensed: 'Roboto Condensed', sans-serif;

