$purple: #854F9B;
$eggplant: #5A4463;
$amethyst: #9966CC;
$violet263: #e0cee0;
$violet2635: #c9add8;
$plum: 	#DDA0DD;
$pink: 	#FFC0CB;
$coral: #F27663;
$white: #FFFFFF;
$teal: #009688;
$lightgrey: #E9E9E9;



$roboto: 'Roboto', sans-serif;
$roboto-slab: 'Roboto Slab', serif;
$roboto-mono:'Roboto Mono', monospace;
$roboto-condensed: 'Roboto Condensed', sans-serif;

