$purple: #854F9B;
$eggplant: #5A4463;
$teal: #009688;
$coral: #F27663;
$white: #FFFFFF;
$lightgrey: #E9E9E9;

$roboto: 'Roboto', sans-serif;
$roboto-slab: 'Roboto Slab', serif;
$roboto-mono:'Roboto Mono', monospace;
$roboto-condensed: 'Roboto Condensed', sans-serif;

