//component sessionList
.app__main{
background-color: pink;
}
.breadcrumb__container{
  text-align: center;
}
.breadcrumb__container--list{
  display: flex;
  flex-direction: row;
  list-style: none;
}

// breadcrumb__container--item
// panel__session
// panel__session--title
// username__filter

//>ESTILOS DE LA TABLA
.table__container{
  display:flex;
}
.username__list{
  border: 2px solid black;
  list-style: none;
}
//>ESTILOS DEL FOOTER
.app__footer--session{
  display: flex;
  justify-content: space-between;
}
// options__numberspage
// select__entries

.options__pagination{
  background-color: lightblue;
}
.pagination{
  list-style: none;
  display:flex;
  flex-direction: row;
  justify-content: center;
}
// pagination__list--item
